<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>

<th:block layout:fragment="script">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
	$(function(){
		// 이전 화면으로 이동하는 이벤트
		$("#back").click(function(){
			location.href="/admin/listAccomm"
		});
	});
</script>

</th:block>
	
<th:block layout:fragment="css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</th:block>
	
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<h2 class="text-center" style="font-size: 30px; font-weight: bold;">숙소 정보 추가</h2><br>
		<div class="d-flex justify-content-center">
			<form action="/admin/insertAccomm" method="post" enctype="multipart/form-data">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		      	<input type="text" class="form-control" name="a_id" placeholder="숙소 아이디 입력">
		      	<input type="text" class="form-control" name="a_div" placeholder="숙소 숙박 형태 입력">
		      	<input type="text" class="form-control" name="a_name" placeholder="숙소 명 입력">
			    <input type="text" class="form-control" name="a_addr" placeholder="숙소 주소 입력">
		  		<input type="number" step="0.1" class="form-control" name="a_grade" placeholder="숙소 평점 입력">
		  		<input type="text" class="form-control" name="a_lat" placeholder="숙소 위도 입력">
		  		<input type="text" class="form-control" name="a_lng" placeholder="숙소 경도 입력">
		  		<input type="text" class="form-control" name="a_exp" placeholder="숙소 설명 입력">
		  		<input type="file" class="form-control" name="uploadFileAcc"> <br>
		  		<br>
				<div class="d-flex justify-content-center">
				    <button type="submit" class="btn btn-danger btn-lg">추가</button>
				    &nbsp;&nbsp;&nbsp;
				    <button type="button" class="btn btn-danger btn-lg" id="back">이전</button><br>
			    </div>
			</form>
		</div>
	</div>
</div>
</body>
</html>