<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#712cf9">
<title>Insert title here</title>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

	<!-- bootstrap css 적용 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!-- bootstrap js 적용 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

</head>
<body>

<div layout:fragment="content">

<!-- 검색 form -->
<div class="container">
<form action="/page/accomm" method="get">
	<div class="input-group">
		<select class="form-select" name="a_div" aria-label="Default select example">
		  <option value="all" selected>숙박 형태 선택</option>
		  <option value="모텔">모텔</option>
		  <option value="호텔">호텔</option>
		  <option value="가족형">가족형 숙소</option>
		  <option value="펜션">펜션</option>
		  <option value="비지니스">비지니스 호텔</option>
		</select>
		<select class="form-select" name="g_person" aria-label="Default select example">
		  <option value="0" selected>숙박 인원 선택</option>
		  <option value="1">1인</option>
		  <option value="2">2인</option>
		  <option value="3">3인</option>
		  <option value="4">4인</option>
		  <option value="5">5인 이상</option>
		</select>
		<input type="date" class="calendar" >
	    <input type="date" class="calendar" >
	    <input type="hidden" name="pageNum" value="1" >
	 	<input type="search" class="form-control" name="keyword" placeholder="숙박 희망 지역을 입력해 주세요." aria-label="Recipient's username with two button addons">
	 	<button class="btn btn-outline-secondary" type="search">검색</button>
	</div>
</form>
</div>
  
  <!-- 숙소 구분별 컨테이너 -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
      
        <div class="col">
          	<a href="/page/accomm?a_div=호텔">
            	<img th:src="@{/images/hotel.png}" style="width: 100%; height: 90%;"/>
            </a>
          <div class="card shadow-sm">
            <div class="card-body">
			<p class="card-text">호텔/리조트</p>
            </div>
          </div>
        </div>
        
        <div class="col">
            <a href="/page/accomm?a_div=펜션">
            	<img th:src="@{/images/pension.png}" style="width: 100%; height: 90%;"/>
            </a>
          <div class="card shadow-sm">
            <div class="card-body">
				<p class="card-text">펜션</p>
 
            </div>
          </div>
        </div>
        
        <div class="col">
            <a href="/page/accomm?a_div=모텔">
            	<img th:src="@{/images/motel.png}" style="width: 100%; height: 90%;"/>
            </a>
          <div class="card shadow-sm">
            <div class="card-body">
				<p class="card-text">모텔</p>
 
            </div>
          </div>
        </div>
        
        <div class="col">
            <a href="/page/accomm?a_div=가족형">
            	<img th:src="@{/images/fam.png}" style="width: 100%; height: 90%;"/>
            </a>
          <div class="card shadow-sm">
            <div class="card-body">
				<p class="card-text">가족형 숙소</p>
 
            </div>
          </div>
        </div>
        
        <div class="col">
            <a href="/page/accomm?a_div=비지니스">
            	<img th:src="@{/images/busi.png}" style="width: 100%; height: 90%;"/>
            </a>
          <div class="card shadow-sm">
            <div class="card-body">
				<p class="card-text">비지니스 호텔</p>
 
            </div>
          </div>
        </div>    
       </div>
      </div>
     </div>
     
  <!-- 인기숙소 1 컨테이너 -->
  <div class="album py-5 bg-light">
    <div class="container">
		<h2 style="font-size: 25px; font-weight: bold;">추천 숙소 TOP</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
		  
        <div class="col">
            <a th:href="@{'/page/detailAccomm/'+${popH1.a_id}}">
            	<img th:src="@{'/images/'+${popH1.a_img}}" style="width: 100%; height: 100%;"/>
            </a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popH1.a_name}"></p>
          </div>
        </div>
        
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popP1.a_id}}">
          		<img th:src="@{'/images/'+${popP1.a_img}}" style="width: 100%; height: 100%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popP1.a_name}"></p>
          </div>
        </div>
        
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popM1.a_id}}">
          		<img th:src="@{'/images/'+${popM1.a_img}}" style="width: 100%; height: 100%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popM1.a_name}"></p>          
          </div>
        </div>
        
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popF1.a_id}}">
          		<img th:src="@{'/images/'+${popF1.a_img}}" style="width: 100%; height: 100%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popF1.a_name}"></p>          
          </div>
        </div>
        
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popB1.a_id}}">
          		<img th:src="@{'/images/'+${popB1.a_img}}" style="width: 100%; height: 100%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popB1.a_name}"></p>          
          </div>
        </div>
        
       </div>
      </div>
     </div>
     
  <!-- 인기숙소 2 컨테이너-->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
        
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popH2.a_id}}">
          		<img th:src="@{'/images/'+${popH2.a_img}}" style="width: 100%; height: 75%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popH2.a_name}"></p>          
          </div>
        </div>
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popP2.a_id}}">
          		<img th:src="@{'/images/'+${popP2.a_img}}" style="width: 100%; height: 75%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popP2.a_name}"></p>          
          </div>
        </div>
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popM2.a_id}}">
          		<img th:src="@{'/images/'+${popM2.a_img}}" style="width: 100%; height: 75%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popM2.a_name}"></p>          
          </div>
        </div>
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popF2.a_id}}">
          		<img th:src="@{'/images/'+${popF2.a_img}}" style="width: 100%; height: 75%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popF2.a_name}"></p>          
          </div>
        </div>
        <div class="col">
        	<a th:href="@{'/page/detailAccomm/'+${popB2.a_id}}">
          		<img th:src="@{'/images/'+${popB2.a_img}}" style="width: 100%; height: 75%;"/>
          	</a>
          <div class="card shadow-sm">
          	<p class="card-text" th:text="${popB2.a_name}"></p>          
          </div>
        </div>
       </div>
      </div>
     </div>
     
  <!-- 진행중인 이벤트 -->   
  <div class="album py-5 bg-light">
    <div class="container">
	  <h2 style="font-size: 25px; font-weight: bold;">진행중 이벤트</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="e:${list}">
          <div class="card shadow-sm">
          	<a th:href="@{'/page/detailEvent/'+${e.e_no}}">
            	<img th:src="@{'/images/'+${e.e_each}}" style="width: 100%; height: 100%;"/>
            </a>
          </div>
        </div>

       </div>
      </div>
     </div><br>
     
<!-- 숙소구분별 네비게이션 -->
<div class="container">
<h2 style="font-size: 25px; font-weight: bold;">네비게이션</h2>
<nav class="nav justify-content-left">	
  <p class="nav-link" style="color: black; font-weight: bold; font-size: 17px">숙소 형태</p>
  <a class="nav-link" href="/page/accomm?a_div=호텔">호텔</a>
  <a class="nav-link" href="/page/accomm?a_div=펜션">펜션</a>
  <a class="nav-link" href="/page/accomm?a_div=모텔">모텔</a>
  <a class="nav-link" href="/page/accomm?a_div=가족형">가족형 숙소</a>
  <a class="nav-link" href="/page/accomm?a_div=비지니스">비지니스 호텔</a>
</nav>
</div>

<!-- 지역별 네비게이션 -->
<div class="container">
<nav class="nav justify-content-left">
	<p class="nav-link" style="color: black; font-weight: bold; font-size: 17px">지역</p>
  <a class="nav-link" href="/page/accomm?keyword=서울">서울</a>
  <a class="nav-link" href="/page/accomm?keyword=부산">부산</a>
  <a class="nav-link" href="/page/accomm?keyword=인천">인천</a>
  <a class="nav-link" href="/page/accomm?keyword=대구">대구</a>
  <a class="nav-link" href="/page/accomm?keyword=광주">광주</a>
  <a class="nav-link" href="/page/accomm?keyword=대전">대전</a>
  <a class="nav-link" href="/page/accomm?keyword=울산">울산</a>
  <a class="nav-link" href="/page/accomm?keyword=수원">수원</a>
  <a class="nav-link" href="/page/accomm?keyword=전주">전주</a>
  <a class="nav-link" href="/page/accomm?keyword=가평">가평</a>
  <a class="nav-link" href="/page/accomm?keyword=속초">속초</a>
  <a class="nav-link" href="/page/accomm?keyword=강릉">강릉</a>
  <a class="nav-link" href="/page/accomm?keyword=제주">제주</a>
</nav>
</div>
</div>

</body>

</html>