<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<!-- bootstrap css 적용 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- bootstrap js 적용 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>

<div th:fragment="footerFragment">

<div class="sticky-bottom">
	<div class="container">
	  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
	    <div class="col mb-3">
	      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
	        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
	      </a>
	      <p class="text-muted">고객센터</p>
	      <p class="text-muted">오전 9시 ~ 오후 9시 운영</p>
	      <p class="text-muted">Copyright CP COMPANY Corp. All rights reserved.</p>
	    </div>
	    <div class="col mb-3">
	    </div>
	    <div class="col mb-3">
	      <h5>회사</h5>
	      <ul class="nav flex-column">
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">회사소개</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
	      </ul>
	    </div>
	    <div class="col mb-3">
	      <h5>서비스</h5>
	      <ul class="nav flex-column">
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">공지사항</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">자주 묻는 질문</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">기업 출장/복지 서비스 문의</a></li>
	      </ul>
	    </div>
	    <div class="col mb-3">
	      <h5>기타</h5>
	      <ul class="nav flex-column">
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">이용약관</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">개인정보처리방침</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">소비자 분쟁해결 기준</a></li>
	        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">콘텐츠산업진흥법에 의한 표시</a></li>
	      </ul>
	    </div>
	  </div>
	</div>	
</div>

</div>

</body>
</html>