<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accomm">

 	<!-- 숙소 검색, 조회 -->
	<select id="list" resultType="listaccVO">
		SELECT a_id, a_name, a_addr, a_grade, a_exp, a_img, g_price
	    FROM (
	        SELECT @rownum := @rownum + 1 AS n, a_id, a_name, a_addr, a_grade, a_exp, a_img, g_price
	        FROM (
	            SELECT a.a_id, a_name, a_addr, a_grade, a_exp, a_img, g_price 
	            FROM accomm a, guestroom g
	            WHERE a.a_id = g.a_id 
	            AND g.g_id LIKE '%001'
	            <!-- 동적 검색 조건 추가 -->
	            <if test="a_div eq 'all'">
	            	AND g.g_person >= #{g_person}
	            	AND a.a_addr LIKE CONCAT('%', #{keyword}, '%')
	            </if>
	            <if test="a_div != null and a_div != 'all'">
	                AND a.a_div = #{a_div}
	            </if>
	            <if test="keyword != null and a_div != 'all'">
	                AND a.a_div = #{a_div}
	                AND g.g_person >= #{g_person}
	                AND a.a_addr LIKE CONCAT('%', #{keyword}, '%')
	            </if>            
	            ORDER BY a_grade DESC
	        ) a, (SELECT @rownum := 0) r
	    ) b
	    LIMIT #{offset}, #{limit}
	</select>
	
	<select id="totalRecord" resultType="int">
		SELECT COUNT(*) AS total_count
		FROM (
			SELECT a_id, a_name, a_addr, a_grade, a_exp, a_img, g_price
		    FROM (
		        SELECT @rownum := @rownum + 1 AS n, a_id, a_name, a_addr, a_grade, a_exp, a_img, g_price
		        FROM (
		            SELECT a.a_id, a_name, a_addr, a_grade, a_exp, a_img, g_price 
		            FROM accomm a, guestroom g
		            WHERE a.a_id = g.a_id 
		            AND g.g_id LIKE '%001'
		            <!-- 동적 검색 조건 추가 -->
		            <if test="a_div eq 'all'">
		            	AND g.g_person >= #{g_person}
		            	AND a.a_addr LIKE CONCAT('%', #{keyword}, '%')
		            </if>
		            <if test="a_div != null and a_div != 'all'">
		                AND a.a_div = #{a_div}
		            </if>
		            <if test="keyword != null and a_div != 'all'">
		                AND a.a_div = #{a_div}
		                AND g.g_person >= #{g_person}
		                AND a.a_addr LIKE CONCAT('%', #{keyword}, '%')
		            </if>            
		            ORDER BY a_grade DESC
		        ) a, (SELECT @rownum := 0) r
		    ) b
		) AS count_query
	</select>
	
	<!-- 메인화면 추천숙소 출력 -->
	<select id="popH" resultType="accommVO">
		SELECT a_id, a_name, a_img 
		FROM (
		    SELECT @rownum := @rownum + 1 AS r, a_id, a_name, a_img 
		    FROM (
		        SELECT a_id, a_name, a_img
		        FROM accomm 
		        WHERE a_div='호텔' 
		        ORDER BY a_grade DESC
		    ) a, (SELECT @rownum := 0) r
		) b
	</select>
	
	<select id="popP" resultType="accommVO">
		SELECT a_id, a_name, a_img 
		FROM (
		    SELECT @rownum := @rownum + 1 AS r, a_id, a_name, a_img 
		    FROM (
		        SELECT a_id, a_name, a_img
		        FROM accomm 
		        WHERE a_div='펜션' 
		        ORDER BY a_grade DESC
		    ) a, (SELECT @rownum := 0) r
		) b
	</select>
	
	<select id="popM" resultType="accommVO">
		SELECT a_id, a_name, a_img 
		FROM (
		    SELECT @rownum := @rownum + 1 AS r, a_id, a_name, a_img 
		    FROM (
		        SELECT a_id, a_name, a_img
		        FROM accomm 
		        WHERE a_div='모텔' 
		        ORDER BY a_grade DESC
		    ) a, (SELECT @rownum := 0) r
		) b
	</select>
	
	<select id="popF" resultType="accommVO">
		SELECT a_id, a_name, a_img 
		FROM (
		    SELECT @rownum := @rownum + 1 AS r, a_id, a_name, a_img 
		    FROM (
		        SELECT a_id, a_name, a_img
		        FROM accomm 
		        WHERE a_div='가족형' 
		        ORDER BY a_grade DESC
		    ) a, (SELECT @rownum := 0) r
		) b
	</select>
	
	<select id="popB" resultType="accommVO">
		SELECT a_id, a_name, a_img 
		FROM (
		    SELECT @rownum := @rownum + 1 AS r, a_id, a_name, a_img 
		    FROM (
		        SELECT a_id, a_name, a_img
		        FROM accomm 
		        WHERE a_div='비지니스' 
		        ORDER BY a_grade DESC
		    ) a, (SELECT @rownum := 0) r
		) b
	</select>
	
	<!-- 숙소상세화면 객실정보 출력 -->
	<select id="detail1" resultType="detailaccVO">
		SELECT a.a_name, a.a_addr, a.a_grade, a.a_lat, a.a_lng, a.a_exp, a.a_img,
	    		g.g_id, g.g_price, g.g_person, g.g_exp, g.g_img
	    FROM accomm a, guestroom g
	    WHERE a.a_id = g.a_id
	    AND a.a_id = #{a_id}
	    AND g.g_id LIKE '%001'	
	</select>
	
	<select id="detail2" resultType="detailaccVO">
		SELECT a.a_name, a.a_addr, a.a_grade, a.a_lat, a.a_lng, a.a_exp, a.a_img,
	    		g.g_id, g.g_price, g.g_person, g.g_exp, g.g_img
	    FROM accomm a, guestroom g
	    WHERE a.a_id = g.a_id
	    AND a.a_id = #{a_id}
	    AND g.g_id LIKE '%002'	
	</select>
	
	<select id="findAllA" resultType="accommVO">
		select * from accomm
	</select>
	
		<insert id="insertAccomm" parameterType="accommVO">
		insert into accomm values(#{a_id},#{a_div},#{a_name},#{a_addr},#{a_grade},#{a_lat},#{a_lng},#{a_exp},#{a_img})
	</insert>
	
	<select id="findByAid" resultType="accommVO">
		SELECT * FROM accomm WHERE a_id = #{a_id}
	</select>
	
	<update id="updateAccommByAdmin" parameterType="accommVO">
		UPDATE accomm SET a_div=#{a_div}, a_name=#{a_name}, a_addr=#{a_addr}, a_grade=#{a_grade}, a_lat=#{a_lat}, a_lng=#{a_lng}, a_exp=#{a_exp}, a_img=#{a_img} WHERE a_id = #{a_id}
	</update>
	
	<delete id="deleteA" parameterType="string">
		delete from accomm where a_id=#{a_id}
	</delete>
	
</mapper>