<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestroom">
	
	<select id="findByaId" resultType="guestroomVO">
		select * from guestroom where a_id=#{a_id}
	</select>
	
	<select id="findByGid" resultType="guestroomVO">
		select * from guestroom where g_id=#{g_id}
	</select>
		
	<update id="updateGuestroomByAdmin" parameterType="guestroomVO">
		UPDATE guestroom SET g_price=#{g_price}, g_person=#{g_person}, g_exp=#{g_exp}, g_img=#{g_img} WHERE g_id = #{g_id}
	</update>
			
	<insert id="insertGuest" parameterType="guestroomVO">
		insert into guestroom values(#{g_id}, #{g_price}, #{g_person}, #{g_exp}, #{g_img}, #{a_id})
	</insert>
	
	<delete id="deleteG" parameterType="guestroomVO">
		delete from guestroom where g_id=#{g_id}
	</delete>
	
	<select id="findPrice" resultType="Integer">
		select g_price from guestroom where g_id=#{g_id}
	</select>
	
</mapper>