<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

    <select id="findReserve" resultType="myreserveVO" parameterType="string">
    SELECT a_name, a_addr, r_date, r_start, r_end, m.m_id 
    	FROM accomm a, guestroom g, reserve r, member m 
    		WHERE g.a_id = a.a_id 
    			AND r.g_id = g.g_id 
    			AND r.m_id = m.m_id 
    			AND m.m_id = #{m_id}  
	</select>
    
	<select id="findStay" resultType="mystayVO" parameterType="string">

   SELECT a_name, a_addr, s_start, s_end, m_id 
   		FROM ( 
       		SELECT a_name, a_addr, s_start, s_end, m_id  
       			FROM accomm a, guestroom g, stay s  
			 	    WHERE a.a_id = g.a_id 
   					AND s.g_id = g.g_id 
  					AND m_id = #{m_id} 
						ORDER BY s_start 
     			) a

	</select>
	 
</mapper>